<div class="section section-margin">

  <div class="container">
    <!-- Banners Start -->
    <div class="row mb-n6">

      <!-- Banner Start -->
      <div class="col-md-6 col-12 mb-6" data-aos="fade-up" data-aos-duration="1000">
        <a href="shop.html" class="banner">
          <img class="fit-image" src="assets/images/banner/cho2.jpg" alt="Banner Image" />
        </a>
      </div>
      <!-- Banner End -->

      <!-- Banner Start -->
      <div class="col-md-6 col-12 mb-6" data-aos="fade-up" data-aos-duration="1400">
        <a href="shop.html" class="banner">
          <img class="fit-image" src="assets/images/banner/cho.jpg" alt="Banner Image" />
        </a>
      </div>
      <!-- Banner End -->

    </div>
    <!-- Banners End -->
  </div>

</div>
<!-- Banner Section End -->
