<!-- Testimonial Section Start -->
<div class="section bg-bright section-padding section-margin">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Testimonial Carousel Start -->
        <div class="testimonial-carousel">

          <!-- Testimonial Gallery Top Start -->
          <div class="swiper-container testimonial-gallery-top" data-aos="fade-up" data-aos-duration="1000">
            <div class="swiper-wrapper">

              <!-- Single Swiper Slide Start -->
              <div class="swiper-slide">

                <!-- Testimonial Content Start -->
                <div class="testimonial-content text-center">
                  <p>Lorem ipsum dolor sit amet, co adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo</p>
                </div>
                <!-- Testimonial Content End -->

              </div>
              <!-- Single Swiper Slide End -->

              <!-- Single Swiper Slide Start -->
              <div class="swiper-slide">

                <!-- Testimonial Content Start -->
                <div class="testimonial-content text-center">
                  <p>Vivamus a lobortis ipsum, vel condimentum magna. Etiam id turpis tortor. Nunc scelerisque, nisi a blandit varius, nunc purus venenatis ligula, sed venenatis orci augue nec sapien. Cum sociis natoque</p>
                </div>
                <!-- Testimonial Content End -->

              </div>
              <!-- Single Swiper Slide End -->
            </div>

          </div>
          <!-- Testimonial Gallery Top End -->

          <!-- Testimonial Gallery Thumb Start -->
          <div class="swiper-container testimonial-gallery-thumbs" data-aos="fade-up" data-aos-duration="1500">
            <div class="swiper-wrapper">

              <!-- Single Swiper Slide Start -->
              <div class="swiper-slide">
                <!-- Testimonial Thumb Start -->
                <div class="testimonial-thumb text-center">
                  <img src="assets/images/testimonial/1.png" alt="Testimonial Image">
                  <h3 class="thumb-title">Jonathon Jhon</h3>
                  <h6 class="thumb-subtitle">Customer</h6>
                </div>
                <!-- Testimonial Thumb End -->
              </div>
              <!-- Single Swiper Slide End -->

              <!-- Single Swiper Slide Start -->
              <div class="swiper-slide">
                <!-- Testimonial Thumb Start -->
                <div class="testimonial-thumb text-center">
                  <img src="assets/images/testimonial/2.png" alt="Testimonial Image">
                  <h3 class="thumb-title">Cristal Jerry</h3>
                  <h6 class="thumb-subtitle">Customer</h6>
                </div>
                <!-- Testimonial Thumb End -->
              </div>
              <!-- Single Swiper Slide End -->

            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- Testimonial Gallery Thumb End -->

        </div>
        <!-- Testimonial Carousel End -->

      </div>
    </div>
  </div>
</div>
<!-- Testimonial Section End -->

<!-- Blog Section Start -->
<div class="section section-margin-bottom">
  <div class="container">

    <div class="row" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title">From Our Blog</h2>
        </div>
      </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 mb-n8">

      <div class="col mb-8" data-aos="fade-up" data-aos-duration="1000">
        <!-- Single Blog Start -->
        <div class="single-blog-wrapper">

          <!-- Blog Thumb Start -->
          <div class="blog-thumb thumb-effect">
            <a class="image" href="blog-details.html">
              <img class="fit-image" src="assets/images/blog/medium-size/1.jpg" alt="Blog Image">
            </a>
          </div>
          <!-- Blog Thumb End -->

          <!-- Blog Content Start -->
          <div class="blog-content">
            <div class="blog-meta">
              <ul>
                <li><span>By</span><a href="#/">Admin</a></li>
                <li><span>27, Jan, 2021</span></li>
              </ul>
            </div>
            <h2 class="blog-title"><a href="blog-details.html">How to take care of your fish</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut...</p>
            <a class="more-link" href="blog-details.html">Read More</a>
          </div>
          <!-- Blog Content End -->

        </div>
        <!-- Single Blog End -->
      </div>

      <div class="col mb-8" data-aos="fade-up" data-aos-duration="1300">
        <!-- Single Blog Start -->
        <div class="single-blog-wrapper">

          <!-- Blog Thumb Start -->
          <div class="blog-thumb thumb-effect">
            <a class="image" href="blog-details.html">
              <img class="fit-image" src="assets/images/blog/medium-size/2.jpg" alt="Blog Image">
            </a>
          </div>
          <!-- Blog Thumb End -->

          <!-- Blog Content Start -->
          <div class="blog-content">
            <div class="blog-meta">
              <ul>
                <li><span>By</span><a href="#/">Admin</a></li>
                <li><span>12, Feb, 2021</span></li>
              </ul>
            </div>
            <h2 class="blog-title"><a href="blog-details.html">Find the male and female fish</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut...</p>
            <a class="more-link" href="blog-details.html">Read More</a>
          </div>
          <!-- Blog Content End -->

        </div>
        <!-- Single Blog End -->
      </div>

      <div class="col mb-8" data-aos="fade-up" data-aos-duration="1600">
        <!-- Single Blog Start -->
        <div class="single-blog-wrapper">

          <!-- Blog Thumb Start -->
          <div class="blog-thumb thumb-effect">
            <a class="image" href="blog-details.html">
              <img class="fit-image" src="assets/images/blog/medium-size/3.jpg" alt="Blog Image">
            </a>
          </div>
          <!-- Blog Thumb End -->

          <!-- Blog Content Start -->
          <div class="blog-content">
            <div class="blog-meta">
              <ul>
                <li><span>By</span><a href="#/">Admin</a></li>
                <li><span>20, March, 2021</span></li>
              </ul>
            </div>
            <h2 class="blog-title"><a href="blog-details.html">Tips for taking care of dogs</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut...</p>
            <a class="more-link" href="blog-details.html">Read More</a>
          </div>
          <!-- Blog Content End -->

        </div>
        <!-- Single Blog End -->
      </div>

    </div>

  </div>
</div>
<!-- Blog Section End -->
